.routine-container {
  font-family: "Roboto", sans-serif;
  padding: 30px;
  width: 100%;
  margin: 0 auto;
}

/* Header */
.routine-container h2 {
  font-size: 2rem;
  text-align: center;
  color: #4a8031;
  margin-bottom: 10px;
  font-weight: 700;
}

.routine-container p {
  text-align: center;
  font-size: 1.1rem;
  color: #5a6473;
  margin-bottom: 20px;
  line-height: 1.6;
}

.routine-toggle-container {
  text-align: center;
  margin-bottom: 30px;
}

.routine-toggle {
  display: inline-flex;
  border: 2px solid #4a8031;
  border-radius: 25px;
  overflow: hidden;
}

.routine-toggle button {
  padding: 12px 30px;
  border: none;
  background: none;
  color: #4a8031;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.routine-toggle button.active {
  background-color: #4a8031;
  color: white;
}

.routine-toggle button:hover {
  background-color: #5b9c3d;
  color: white;
}

.routine-card-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;

  .routine-card {
    flex: 1;
    max-width: calc(33.33% - 20px);
    background: #ffffff;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    position: relative;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .routine-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .routine-card .routine-circle {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background: #4a8031;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  .routine-content h3 {
    font-size: 1.3rem;
    color: #4a8031;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .routine-content p {
    font-size: 1rem;
    color: #5a6473;
    margin: 5px 0;
    line-height: 1.5;
  }

  /* Responsive Design */
  @media (max-width: 768px) {
    .routine-card-container {
      flex-direction: column;
      align-items: center;
    }

    .routine-card {
      max-width: 100%;
    }

    .routine-card .routine-circle {
      top: -15px;
      width: 40px;
      height: 40px;
      font-size: 1.2rem;
    }
  }
}
