
.cart {
    margin-top: 100px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

.cart-item-title {
    display: flex;
    justify-content: space-between;
    color: #555;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #e4e2e2;
    padding: 10px 0;
}

.cart-header, .cart-item-detail {
    flex: 1;
    text-align: center;
}

.cart-items-item {
    display: flex;
    justify-content: space-between; /* Align items horizontally in a row */
    align-items: center;
    margin: 10px 0;
    color: #333;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #e4e2e2; /* Optional: to separate each row */
}

.cart-items-item img {
    width: 50px;

    border-radius: 5px;
}

.cart-item-detail {
    flex: 1;
    text-align: center;
}

.cart-items-item p {
    margin: 0;
    font-size: 14px;
}

.cross {
    cursor: pointer;
    color: #d9534f;
    font-weight: bold;
}

.cart-bottom {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-totals {
    border: 1px solid #e2e2e2;

    border-radius: 5px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-totals h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
}


.cart-total-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cart-total-details p {
    margin: 0;
    font-size: 16px;
}

.cart-total-details b {
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}

.cart-totals-actions {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.cart-totals-actions button {
    padding: 15px 0;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-totals-actions button:hover {
    background-color: #218838;
}
.cart-empty {
    text-align: center;
    margin-top: 50px;
    color: #555;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.empty-cart-image {
    width: 100px; /* Adjust as needed */
    height: auto;
    opacity: 0.8;
    margin-bottom: 10px;
}

.cart-empty p {
    font-size: 18px;
    color: #333;
    margin: 0;
}

.start-shopping-link {
    color: #28a745;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

.start-shopping-link:hover {
    text-decoration: underline;

}
