
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.quick-select {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  grid-template-rows: repeat(2, 1fr); /* Two equal rows */
  gap: 20px; /* Space between grid items */
  padding: 20px; /* Padding around the grid */
}

.box {
  display: flex;
  align-items: center; /* Centering the content vertically */
  justify-content: center; /* Centering the content horizontally */
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #5b9c3d;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.box:hover {
  transform: scale(1.01); /* Slightly scale up on hover */
}

.box-1 {
  grid-column: 1; /* Positioning in the first column */
  grid-row: 1 / span 2; /* Span both rows */
}

.box-2 {
  grid-column: 2; /* Positioning in the second column */
  grid-row: 1; /* Top row */
}

.box-3 {
  grid-column: 2; /* Positioning in the second column */
  grid-row: 2; /* Bottom row */
}

p{height: 15%;}

.homepage-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.quick-select {
  flex: 1;
}

footer {
  margin-top: auto;
}



