body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.box-container {
  display: block;
  flex-wrap: wrap;
  gap: 20px;
}

.box {
  display: flex;
  align-items: center; /* Centering the content vertically */
  justify-content: center; /* Centering the content horizontally */
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #5b9c3d;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 45%;
  float: left;
  height: 969px;
}

.box-1 {
  flex: 1 1 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  background-color: #5b9c3d;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 50%;
  float: right;
}

.box-3 {
  flex: 1 1 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  background-color: #5b9c3d;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 50%;
  float: right;
}

p {
  height: 15%;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.quick-select {
  flex: 1;
}

footer {
  margin-top: auto;
}
